//- extends layout

append head
  //- add bootstrap
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/application.css")
  //- add page specific js
  script(src="/javascripts/application.js" type="module" defer)

block content
  h1= title
  //- p Welcome to your Project Skeleton application page
  div(id='applicationPageContainer')
    div(id='navbarLeft' class="grid")
      label(for='inboxDropDown') Inbox 📮
      select(id='inboxDropDown')
        each list in lists
          option(value=list.id)= list.name
      br

      label(for='inboxDropDown') Lists 📃
      div(id='sadfasd')
        ul(id='listLists' innerText='list')
          each list in lists
            li(value=list.id)= list.name
              form(action="/editList" method="post" id="editListSubmitForm")
                input(type='hidden' name='listId' value=list.id)
                input(type='text' name= 'name' id='addListList' placeholder= 'Rename List' required)
                button(id='editListBtn' type="submit") Edit List
              form(action="/deleteList" method="post" id="deleteListForm")
                input(type='hidden' name='listId' value=list.id)
                button(id='deleteListBtn' type='submit') Delete List
        //- button(id='addListBtn' innerText='Add') Add
      input(type='hidden' id='addListInput' placeholder='Add List')
          //- This is for the user to add *Build in the End*
      br
      form(action="/addList" method="post")
        //- input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='userId' value=locals.user.id)
        label(for='name') List Name:
        input(type='text' name='name' id='addListInput' required)
        button(id='addListBttn' type="submit") Add List

    div(id='tasksPage' class="grid")
      //- img(src='./blahBlahBlah')
      button(id='logoutBtn') Sign Out
      form(action='/application' method='post')
      //- search(id='searchTask')
      button(id='incompleteBtn') Incomplete
      button(id='completeBtn') Completed
      br
      form(action="/addTask" method="post")
        //- input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='userId' value=locals.user.id)
        input(type='text' name='name' id='addTaskInput' required)
        select(name="listId" required)
          each list in lists
            option(name="listId" id='optionListName' value=list.id)= list.name
        button(id='addTaskBttn' type="submit") Add Task

      div(id='taskDisplay')
        ul(name= "listId" class= "list-group" required)
          each task in tasks
            li(id= 'addLiTask' class= "list-group-item")= task.name
              input(type='checkbox' name='task' id=`checkBox-${task.id}` class= '.checkBox')
              //- addTaskTask and editTaskSubmitForm is hidden in css (Our edit/rename)
              //- csrfTokens are for form submissions. Don't dlt for bhavik :(
              form(action="/editTask" method="post" id="editTaskSubmitForm")
                input(type='text' name= 'name' id='addTaskTask' placeholder= 'Rename Task' required)
                select(name="listId" required)
                  each list in lists
                    option(name="listId" id='optionListName' value=list.id)= list.name
                input(type='hidden' name='taskId' value=task.id)
                button(id='editTaskBtn' type="submit") Edit Task
              form(action="/deleteTask" method="post" id="deleteTaskForm")
                input(type='hidden' name='taskId' value=task.id)
                button(id='deleteTaskBtn' type='submit') Delete Task

        //- FIX CHECKBOX FOR CREATING A TASK
      div(id='editTaskForm')
        input(type= 'text' id='taskRenameInputField' placeholder= 'Rename Tasks' required)
        input(id='checkbox' name='task' checked)
        div(id='cancelSubmit')
          button(id='cancelButton' type="button") Cancel
          button(id='submitButton' type="button") Submit

      br
    div(id='listSummaryPage' class=grid)
      textarea(id='currListName' placeholder= 'listCategory')