//- extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/application.css")
  //- add page specific js
  script(src="/javascripts/application.js" type="module" defer)

block content
  h1= "To-do's"
  //- p Welcome to your Project Skeleton application page
  div(id='applicationPageContainer')
    div(id='navbarLeft')
      br
      form(action="/addList" method="post")
        //- input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='userId' value=locals.user.id)
        label(for='name' id='addListInputlabel') Add New List Here:
        br
        input(type='text' name='name' id='addListInput' placeholder= 'add list ...' required)
        button(id='addListBttn' type="submit") Add List
      label(id='currListName' ) Choose a List to View Tasks 📮
      form(action='/application' method='post' id="viewTaskForm")
        select(name="listId" required)
          each list in lists
            option(name="listId" id='optionListName' value=list.id)= list.name
        button(id='viewTaskBtn' type='submit') View Tasks 
      //- select(id='inboxDropDown')
      //-   each list in lists
      //-     option(value=list.id)= list.name
      br
      label(for='inboxDropDown' id='inboxDropDownLabel') Lists 📃
      ul(id='listsPage')
        each list in lists
          li(name= 'listId' id='listDropdownDisplay' value=list.id)= list.name
            form(action="/editList" method="post" id="editListSubmitForm")
              input(type='hidden' name='listId' value=list.id)
              input(type='text' name= 'name' id='addListList' placeholder= 'Rename List' required)
              button(id='editListBtn' type="submit") Edit List
            form(action="/deleteList" method="post" id="deleteListForm")
              input(type='hidden' name='listId' value=list.id)
              button(id='deleteListBtn' type='submit') Delete List
        //- button(id='addListBtn' innerText='Add') Add
      //- input(type='hidden' id='addListInput' placeholder='Add List')
          //- This is for the user to add *Build in the End*
     
    

    div(id='tasksPage')
      //- img(src='./blahBlahBlah')
      button(id='logoutBtn') Sign Out
      form(action='/application' method='post')
      //- search(id='searchTask')
      //- button(id='incompleteBtn') Incomplete
      //- button(id='completeBtn') Completed
      br
      form(action="/addTask" method="post")
        //- input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='userId' value=locals.user.id)
        label(for='name' id='addNewTaskLabel') Add New Task Here
        br
        input(type='text' name='name' id='addTaskInput' placeholder = 'add task ...' required)
        select(name="listId" required)
          each list in lists
            option(name="listId" id='optionListName' value=list.id)= list.name
        button(id='addTaskBttn' type="submit") Add Task

      div(id='taskDisplay')
        ul(name= "listId" required)
          each task in tasks
            li(id= 'addLiTask')= task.name
              input(type='checkbox' name='task' id=`checkBox-${task.id}`)
              //- addTaskTask and editTaskSubmitForm is hidden in css (Our edit/rename)
              br
              label(type= 'text' class= 'renameTaskLabel' ) Rename Tasks Below
              form(action="/editTask" method="post" id="editTaskSubmitForm")
                input(type='text' name= 'name' id='addTaskTask' placeholder= 'rename task here' required)
                select(name="listId" required)
                  each list in lists
                    option(name="listId" id='optionListName' value=list.id)= list.name
                input(type='hidden' name='taskId' value=task.id)
                button(id='editTaskBtn' type="submit") Edit Task
              form(action="/deleteTask" method="post" id="deleteTaskForm")
                input(type='hidden' name='taskId' value=task.id)
                button(id='deleteTaskBtn' type='submit') Delete Task
                
                

        //- FIX CHECKBOX FOR CREATING A TASK
      div(id='editTaskForm')
        input(type= 'text' id='taskRenameInputField' placeholder= 'Rename Tasks' required)
        input(id='checkbox' name='task' checked)
        div(id='cancelSubmit')
         button(id='cancelButton' type="button") Cancel
          button(id='submitButton' type="button") Submit

      br
    div(id='listSummaryPage')
      label(for='listSummaryPage' id= 'listSummaryTitle') List Summary 
      br
      if(listCategoryName)
        label(id='listCategoryNameLabel') 
          textarea(id='currListName')= listCategoryName.name
          br
          textarea(id= 'currTextCount')= listTasks.length
    
      div(id='listTaskDisplay')
        if(listTasks)
          each task in listTasks
            li(name='taskId' id='taskDisplayName' value=task.id)= task.name
              input(type='checkbox' name='task' id=`checkBox-${task.id}`)
              br
              form(action="/editTask" method="post" id="editTaskSubmitForm")
                label(type= 'text' class= 'renameTaskLabel') Edit Tasks Below 
                br
                input(type='text' name= 'name' id='addTaskTask' placeholder= 'rename task here' required)
                select(name="listId" required)
                  each list in lists
                    option(name="listId" id='optionListName' value=list.id)= list.name
                input(type='hidden' name='taskId' value=task.id)
                button(id='editTaskBtn' type="submit") Rename
              form(action="/deleteTask" method="post" id="deleteTaskForm")
                input(type='hidden' name='taskId' value=task.id)
                button(id='deleteTaskBtn' type='submit') Delete Task



              //- addTaskTask and editTaskSubmitForm is hidden in css (Our edit/rename)
              //- csrfTokens are for form submissions. Don't dlt for bhavik :(


      //- div(id= 'listCategoryDisplay')
      //-   form(action='/application' method='post' id="viewTaskDisplay")
      //-     select(name='taskId')
      //-       if (listTasks)
      //-         each task in tasks
      //-           option(name='taskId' id='taskDisplayName' value=task.id)= task.name 
        
          
    

              //- addTaskTask and editTaskSubmitForm is hidden in css (Our edit/rename)
              //- csrfTokens are for form submissions. Don't dlt for bhavik :(